.ui.borderless.topmenu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.borderless.middle.menu {
  box-shadow: none;
  border: none;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}